:root{
    font-size: 16px;
}

html{
    font-family: Geneva, Tahoma, sans-serif;
}

body, html{
    margin: 0px; 
}

.padding-top{
    padding-top: 8px;
}

#body-header{
    height: 65vh;
    background-position: center;
    background-size: cover;
    opacity: 0.8;
    background-image: url("https://ninjasfiles.s3.amazonaws.com/asset_0000000000000020_1549743985_macbook_mouse.jpg");
    background-attachment: fixed;
}

/* --------- GENERAL SECTION STYLING -----------*/

section{
    width:100%;
    display: flex;
    flex-direction:column;
    align-items: center;
}

section:nth-child(2n+1){
    background-color: white;
}

section:nth-child(2n){
    background-color: lightgray;
}

.horizontal-list{
    list-style: none;
    padding-left: 0px;
    /* ul has default margin removing that */
    margin: 0;

}

.horizontal-list li{
    display: inline-block;
    margin: 0px 8px 0px 8px;
    
}

.horizontal-list li a{
    color: white;
    text-decoration: none;
 
}

.nav-menu li a{
    transition: color 0.5s, border-bottom 4s;
}

.nav-menu li a:hover{
    color: lightgrey;
    border-bottom: 1px solid white;
}

.text-center{
    text-align: center;
}

.social-container{
    margin-top: 20vh;
}

#name{
    font-size: 3rem;
    letter-spacing: 0.1rem;
    color: white;
    margin-bottom: 1rem;
    font-weight: 700;
}

.social-icons li a i{
    padding: 12px;
    border-radius: 50%;
    font-size: 1.2rem;
}

.social-icons li a i:hover{
    box-shadow: 0 0 6px 4px rgba(230, 196, 190, 0.2 );
}


#about{
    width: auto;
    height: 100%;
    /* position: relative; */
}

/* why not directly set image dimension as such */
#my-image{
    height: 14rem;
    width: 15rem;
    margin: auto;
    margin-top: -10vh;
    position: relative;
}

#my-image img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    /* border: 3px solid lightgrey; */
    box-shadow: 0 0 5px 4px lightgray;
    /* position: relative; */
}

#my-description{
    height: auto;
    width: 50vw;
    margin: auto;
    padding:  25px 0 0 0;
}


#my-description p{
    font-size: 1rem;
    letter-spacing: 0.1rem;
    line-height: 1.2rem;

}

.section-heading {
    width: auto;
    padding: 20px 10px 10px;
    font-weight: 400;
}

.section-heading span{
    font-size: 40px;
    color: #2857a4;
    display: inline-block;
    padding-top: 10px;
    margin-right: 0.5rem;
}
/*---------- SKILLS PART STYLING ----------*/



.skills-display{
    width: 70%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
    margin-bottom: 35px;
}

.skill-progress{
    width: 10rem;
    height: 2.2rem;
    background-color: grey;
    border-radius: 2rem;
    box-shadow: 1px 1px 2px 1px #b9b9b9 inset;
    margin: 25px;
    overflow: hidden;

}

.skill-name span{
    color: white;
    margin-left: 10px;
    font-size: 1rem;
    vertical-align: middle;
}

.skill-progress>div{
    border-radius:2rem 0 0 2rem  ; 
    box-shadow:  4px 1px 4px lightblue;
    padding-top: 5px;
}




/* -------- PORTFOLIO SECTION STYLE -------- */
.portfolio-display{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.portfolio-image{
    width: 300px;
    height: 250px;
}
.portfolio-image .image{
    width: inherit;
    height: inherit;
}

.portfolio-image img{
    width: inherit;
    height: inherit;
}


/* --------- Contact section style --------- */

#contact{
    background-image: linear-gradient(45deg, hsl(218deg 61% 40%), hsl(259deg 36% 29%));
    display: flex;
    width: 100;
}

#contact span{
    color: white;
}
.contact-address{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.contact-form{
    width: 35%;
    margin:19.920px 0 ;
    
}

.form-address{
    width: 35%;
    color: white;
    
}

.form-address p{
    font-size: 0.9rem;
}

.form-address span{
    margin-right: 2px;
   
}

.form-address p, .form-address div{
    color: lightgray;
    margin: 8px;
}

.contact-form form{
    width: 100%;
}


.contact-form input[type="text"]{
    box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    padding: 7px;
    border: none;
    background: transparent;
    border-bottom: 2px solid white;
    margin-bottom: 10px;
    height: 45px;

}

.contact-form button[type="submit"] {
    display: block;
    margin: auto;
    background: transparent;
    border: 2px solid white;
    padding: 10px;
    border-radius: 2px;
    font-size: 1rem;
    text-transform: uppercase;
    color: white;
    font-weight: 700;
    letter-spacing: 0.08rem;
    margin-top: 40px;
}

.contact-form button[type="submit"]:hover{
    cursor: pointer;
}

::placeholder{
    color: lemonchiffon;
    letter-spacing: 0.1rem;
    font-size: 1rem;
}

#message{
    padding: 20px 0;
}



/* PERCENTAGE CLASS */
.eighty-five-percent{
    width: 85%;
    height: inherit; 
}

.mb-blue{
    background-color: blue;
}

.mb-orange{
    background-color: orange;
}
.mb-red{
    background-color: red;
}
.mb-green{
    background-color: green;
}

.mb75px{
    margin-bottom: 75px;
}

.pb50px{
    padding-bottom: 50px;
}

.red{
    color: red;
}

.text-right{
    text-align: right;
}

.text-justify{
    text-align: justify;
}


/* ----------- experince section style --------- */

.timeline{
    position: relative;
    width: 75%;
    /* border: 2px solid black; */
    
}

.timeline-box{
    position: relative;
    width: 40%;
    min-height: 150px;
    /* border: 2px solid black; */
    margin: 5px;
    left: 5%;
    padding: 10px;
}

.timeline-box:nth-child(2n+1):after{
    content: '';
    position: absolute;
    top: 38.8%;
    border-radius: 50%;
    right: -8%;
    width: 0.5rem;
    height: 0.5rem;
    background-color: red;
    z-index: 1;
}

.timeline-box:nth-child(2n):after{
    content: '';
    position: absolute;
    top: 40%;
    border-radius: 50%;
    left: -8.6%;
    width: 0.5rem;
    height: 0.5rem;
    background-color: red;
    z-index: 1;
}


.timeline-box:nth-child(2n){
    left: 53%;
}

.icon-and-d{
    display: flex;
    justify-content: space-between;
}

.icon-and-d p {
    margin: 1px 0;
}

.icon-and-d h2 {
    margin: 7px 0;
    color: #2857a4;
}

.icon img{
    max-width: 50px;
    max-height: 50px;
    margin: 5px 0;
    
}

.timeline-divider{
    position:absolute;
    height: 75%;
    width: 0;
    border: 3px dashed #0096fa6b;
    top: 10%;
    left: 50%;
}

.timeline-traveller{
    position: sticky;
    top: 20%;
    transform: rotate(90deg);
    z-index: 2;
}

.timeline-traveller i{
    font-size: 2rem;
}