*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#music-controller{
    height: 5%;
    border: 1px solid red;
    display: flex;
    justify-content: space-around;
}

/* music controller left  */

#music-controller .left{
    border: 1px solid red;
    display: flex;
    width: 23%;
    gap: 1%;   
}

#music-controller .left>div,
#music-controller .left>i {
    margin-top: 10px;
}

#music-controller .left img{
    width: 50px;
    height: 50px;
}

#music-controller .left div{
    margin-right: 5%;
}

#music-controller .left div{
    font-size: 0.76rem;
}


/* music controller center  */

#music-controller .center{
    border: 1px solid red;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}

#music-controller .center .center-top-control{
    display: flex;
    border: 1px solid red;
    justify-content: center;
    gap: 10px;
    
}



/* music controller right  */

#music-controller .right{
    border: 1px solid red;
    width: 23%;

}
